.studentresults__table{
   min-width: 700; 
}
.studentresults{
   width: 50% !important;
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.studentresults__tableRow{
   background-color: rgba(255, 0, 234, 0.473) !important;
   font-size: larger !important;
}
.studentresult{
   display:flex;
   flex-direction: row;
}