.table{
    align-items: center;
    justify-content: center;
    width:70%;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
    
}
.table__simple{
min-Width: 340;

}
.table__container{
    margin-right:30px ;
    margin-top: 40px;
    border-bottom: 5px solid rgba(255, 0, 234, 0.473);
}
.table__container1{
    border-bottom: 5px solid rgba(255, 0, 234, 0.473);
}
@media(max-width:770px){
   .table{
    align-items: center;
    justify-content: center;
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 10px !important;
    
} 
.table__container{
    margin-left: 5px !important;
    margin-right: 15px !important;
    width: 100%;
    margin-top: 20px !important;
    margin-bottom:20px !important ;
    border-bottom: 5px solid rgba(255, 0, 234, 0.473);
}
.table__container1{
     margin-left: 5px !important;
    margin-right: 15px !important;
    width: 100%;
   
    margin-bottom:20px !important ;
    border-bottom: 5px solid rgba(255, 0, 234, 0.473);
}
}
